img {
    width: 350px;
    border-radius: 10px;
    float: right;
    margin-right: 40px;
    
    
    
    
}
p {
    color: yellowgreen;
    

}
h1 {
    color: tomato;
    
}
h2 {
    color: firebrick;
    
    font-size: 35px;
}